Assignment 1

In [ ]:
#Assignment: Remaining methods of a string

**Case Conversion**


*  capitalize(): Converts the first character to uppercase and the rest to     lowercase.
* lower(): Converts all characters in the string to lowercase.
*   upper(): Converts all characters in the string to uppercase
*  title(): Converts the first character of each word to uppercase.
*   swapcase(): Swaps cases, making lowercase letters uppercase and vice versa.

In [1]:
txt = "hello"

x = txt.capitalize()

print (x)

Hello

In [2]:
txt = "Hello "

x = txt.lower()

print(x)

hello

In [3]:
txt = "Hello "

x = txt.upper()

print(x)

HELLO

In [4]:
txt = "hello"

x = txt.title()

print(x)

Hello

In [5]:
txt = "Hello "

x = txt.swapcase()

print(x)

hELLO

**Searching and Finding**
Methods like count(), find(), and index() are used to locate substrings within a string. find() returns the starting index of the first match or -1, while index() does the same but raises an error if not found. startswith() and endswith() check if a string begins or ends with a specific value, returning True or False.

In [6]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [7]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [8]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [9]:

#The endswith() method returns True if the string ends with the specified value, otherwise False.
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [11]:

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

**Splitting and Joining**
The split() method divides a string into a list based on a separator. Conversely, join() combines items from an iterable into a string, using the original string as the separator.

In [13]:
txt = "welcome to the jungle"

x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [16]:
myTuple = ("John", "Peter", "Vicky")

x = '#'.join(myTuple)

print(x)

John#Peter#Vicky

**Formatting and Trimming**
Strings can be trimmed using strip(), lstrip(), and rstrip() to remove leading/trailing whitespace or specified characters. The replace() method substitutes occurrences of a substring with another. format() and f-strings are used for embedding values within strings.

In [17]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [18]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [19]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [20]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

**Character Type Testing**
These methods check the character content of a string. Examples include isalnum() (alphanumeric), isalpha() (alphabetic), isdigit() (digits), and isspace() (whitespace). isupper() and islower() check the case of characters. These methods return boolean values.

In [22]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [23]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [24]:
txt = "   "

x = txt.isspace()

print(x)

True

In [25]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [26]:
txt = "50800"

x = txt.isdigit()

print(x)

True